__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/

.venv/
venv/
env/
TraeAI-3/

cache/
*.json

.env
*.log

.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db

resources/images/
resources/data/

*.zip
*.tar
*.tar.gz
*.7z
*.exe
*.msi
*.wav
*.mp3
*.mp4
*.avi
*.mkv

*.pdiparams
*.pdiparams.info
*.pdmodel
*.onnx
*.bin
*.xml
*.raw
*.pickle

bart_cache/
pip_packages/

PaddleOCR_OpenVINO_CPP-main/build/
PaddleOCR_OpenVINO_CPP-main/models/
MeloTTS.cpp-multilang-develop/build/
MeloTTS.cpp-multilang-develop/ov_models/
MeloTTS.cpp-multilang-develop/thirdParty/libtorch.tar.gz
MeloTTS.cpp-multilang-develop/benchmark/

ocr_result.jpg
opencv-*

workshop/
